.form {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form form {
    max-width: 80%;
    background: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.18);
    padding: 8px 100px;
}

.form h2 {
    color: #212121;
    font-family: Prata, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}